@import "./basic.scss";

:root {
  --main-font: "Montserrat", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1rem;
}

// NAV
#logo {
  width: 70px;
  transform: scale(1.7);
}

.header {
  background: url("/images/hero1.png") rgba(22, 22, 22, 0.034);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 40vh;
  max-height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  text-align: center;

  &__heading {
    font-size: clamp(1.5rem, 3vw, 4rem);
    // font-size: 4rem;
    line-height: 1.3;
  }

  &__sub__heading {
    font-size: clamp(0.8rem, 3vw, 1.3rem);
    margin-top: 0.1em;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  font-size: 1.1em;

  a {
    display: inline-block;

    &:hover {
      transition: all 0.3s ease;

      transform: scale(1.1);
    }
  }
}

li:first-of-type {
  margin-right: auto;
}

.link__item {
  padding: 1em 2rem;
}

// Services
.services {
  text-align: center;

  &__heading {
    padding: 2rem 0;
    font-size: 2rem;
  }
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    height: 350px;
    min-width: 300px;
    margin: 1.5rem;
    background-color: black;
    border-radius: 0.25rem;
    transition: 0.1s all ease-in;

    &:hover {
      transform: scale(1.1);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.144);
    }

    &__image {
      height: 150px;
      width: 100%;
    }
  }
}

.cover__image--garden {
  background: url("../images/gardencare.jpg") no-repeat;
  background-size: cover;
}
