@import "./basic.scss";

:root {
  --main-font: "Montserrat", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1rem;
}
// NAV
#logo {
  width: 70px;
  transform: scale(1.7);
}

.header {
  background: url("/images/hero1.png") rgba(22, 22, 22, 0.034);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 40vh;
  max-height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  text-align: center;

  &__heading {
    font-size: clamp(1.5rem, 3vw, 4rem);
    // font-size: 4rem;
    line-height: 1.3;
  }

  &__sub__heading {
    font-size: clamp(0.8rem, 3vw, 1.3rem);
    margin-top: 0.1em;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  font-size: 1.1em;

  a {
    display: inline-block;

    &:hover {
      transition: all 0.3s ease;

      transform: scale(1.1);
    }
  }
}

li:first-of-type {
  margin-right: auto;
}

.link__item {
  padding: 1em 2rem;
}

// Services
.services {
  &__heading {
    margin: 8rem 0 3rem;
    text-align: center;
    font-size: 2rem;
  }

  &__grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
  }
}

.services__list {
  &__item {
    background: white;
    border: 1px solid #cdd9ed;
    border-radius: 0.1rem;
    transition: 0.1s all ease-in;
    height: 100%;
    &__image {
      height: 200px;
      width: 100%;
    }
  }
}

.item__info {
  padding: 0.5rem;
  h3 {
    text-align: left;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.2rem 0;
  }
  p {
    font-size: 13px;
  }
}

.cover__image {
  &--tree {
    background: url("../images/treeservices.JPG") no-repeat;
    background-size: cover;
  }
  &--garden {
    background: url("../images/gardencare.jpg") no-repeat;
    background-size: cover;
  }
}
